
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}


header {
    background-color: #e67e22;
    color: white;
    padding: 30px 20px;
    text-align: center;
}


nav {
    background-color: #333;
    padding: 15px;
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #f39c12;
}


main {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
}


h2 {
    text-align: center;
    color: #e67e22;
    margin-bottom: 20px;
}


.contact-details {
    text-align: left;
    font-size: 16px;
    line-height: 1.8;
    padding: 20px;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px;
    justify-items: center;
}

.gallery-item img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border: 3px solid var(--primary);
    border-radius: 10px;
}

.gallery-item p {
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
    color: var(--primary);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
